<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<sectionGroup name="memcached">
				<section name="ephubudw0384" type="Enyim.Caching.Configuration.ClusterConfigurationSection, Enyim.Caching.Memcached" />
				<section name="localhost" type="Enyim.Caching.Configuration.ClusterConfigurationSection, Enyim.Caching.Memcached" />
				<section name="client" type="Enyim.Caching.Memcached.Configuration.ClientConfigurationSection, Enyim.Caching.Memcached" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<enyim.com>
		<memcached>
			<ephubudw0384>
				<nodes>
					<add address="10.253.129.138:11211" />
					<add address="10.253.129.138:11212" />
					<add address="10.253.129.138:11213" />
					<add address="10.253.129.138:11214" />
				</nodes>
				<connection bufferSize="16384" timeout="00:00:10" />
				<!--<reconnectPolicy type="Enyim.Caching.Memcached.SimpleReconnectPolicy, Enyim.Caching.Memcached" immediate="True" interval="00:00:10" />
				<failurePolicy type="Enyim.Caching.Memcached.SimpleFailurePolicy, Enyim.Caching.Memcached" failAfter="3" window="00:00:10" />-->
				<!--<keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching.Memcached" />-->
				<!--<locator type="Enyim.Caching.Memcached.DefaultNodeLocator, Enyim.Caching.Memcached" />-->
			</ephubudw0384>

			
			<localhost>
				<nodes>
					<add address="10.0.4.14:11211" />
					<add address="10.0.4.14:11212" />
					<add address="10.0.4.14:11213" />
					<add address="10.0.4.14:11214" />
				</nodes>
				<connection bufferSize="16384" timeout="00:00:10" />
				<!--<reconnectPolicy type="Enyim.Caching.Memcached.SimpleReconnectPolicy, Enyim.Caching.Memcached" immediate="True" interval="00:00:10" />
				<failurePolicy type="Enyim.Caching.Memcached.SimpleFailurePolicy, Enyim.Caching.Memcached" failAfter="3" window="00:00:10" />-->
				<!---->
				<!--<locator type="Enyim.Caching.Memcached.DefaultNodeLocator, Enyim.Caching.Memcached" />-->
			</localhost>

			<client>
				<keyTransformer type="Tests.TestKeyTransformer, Tests" testKey="test value" />
				<transcoder type="Tests.TestTranscoder, Tests" testKey="test value" />
				<operationFactory type="Tests.TestOperationfactory, Tests" testKey="test value" />
			</client>
		</memcached>
	</enyim.com>
</configuration>