<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<sectionGroup name="memcached">
				<section name="clusters" type="Enyim.Caching.Configuration.ClustersSection, Enyim.Caching.Configuration" />
				<section name="client" type="Enyim.Caching.Memcached.Configuration.ClientConfigurationSection, Enyim.Caching.Configuration" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<enyim.com>
		<memcached>
			<client>
				<keyTransformer type="Tests.TestKeyTransformer, Tests" testKey="test value" />
				<transcoder type="Tests.TestTranscoder, Tests" testKey="test value" />
				<operationFactory type="Tests.TestOperationfactory, Tests" testKey="test value" />
			</client>
		</memcached>
	</enyim.com>
</configuration>